[Unit]
Description=Automotive Data Simulator
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/simulator.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target